* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 98%;
  padding: 0 12px;
  margin: 0 auto;
}

.logo-banner {
  display: flex;
  overflow-x: hidden;
  margin-top: 40px;
}

li,
a {
  text-decoration: none;
}

.navbar-container {
  max-width: 95%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}

ul {
  list-style-type: none;
}

.all-menu {
  position: absolute;
  left: 0;
  top: 85px;
  padding: 25px;
  border-radius: 10px;
  display: none;
  background-color: transparent;
  width: 100% !important;
}

.menu-button{
  display: flex;
  align-items: center;
}

.input{
  width: 300px;
}
.input:focus{
 box-shadow: none;
}


@media (max-width: 600px) {
  .navbar-container{
    justify-content: center;
  }

  .contact{
    display: none;
  }

  .input{
    max-width: 100px;
  }
}

@media (max-width: 667px){
  .rozi{
    justify-content: center !important;
  }
}