* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.container {
  max-width: 98%;
  padding: 0 12px;
  margin: 0 auto;

}


:root{
  --backg_dark: white;
  --clsecon_text: #444141;
  --back-cl: rgb(255, 245, 245);
}

.darkmode{
  background-color: var(--backg_dark) !important;
}

.darklight{
  background-color: var(--back-cl) !important;
}

.darkcl{
  color: var(--clsecon_text);
}

[data-theme = "dark"]{

  --backg_dark: rgb(20 29 47);
  --clsecon_text: #2e7d32;
  --back-cl: rgb(30 42 71);
}

.logo-banner {
  display: flex;
  overflow-x: hidden;
  padding-top: 150px;
}

li,
a {
  text-decoration: none;
}

.navbar-container {
  max-width: 95%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}

.navbar{
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
}

ul {
  list-style-type: none;
}

.all-menu {
  position: absolute;
  left: 0;
  top: 85px;
  padding: 25px;
  border-radius: 10px;
  display: none;
  width: 100% !important;
}

.menu-button{
  display: flex;
  align-items: center;
}

.input{
  width: 300px;
}
.input:focus{
 box-shadow: none;
}


@media (max-width: 600px) {
  .navbar-container{
    justify-content: center;
  }

  .contact{
    display: none;
  }

  .input{
    max-width: 100px;
  }

  .footer{
    display: flex;
    gap: 30px;
    flex-direction: column;
  }
}

@media (max-width: 667px){
  .rozi{
    justify-content: center !important;
  }

  .logo-banner{
    margin-top: 30px;
  }
}

@keyframes ldio-hsoik2d47ph {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-hsoik2d47ph div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-hsoik2d47ph linear 1s infinite;
  background: #1b8a42;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-hsoik2d47ph div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #1b8a42;
}.ldio-hsoik2d47ph div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #1b8a42;
}
.loadingio-spinner-spinner-uw22re8mrtj {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute !important; */
  background: #f1f2f3 !important;
}
.ldio-hsoik2d47ph {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-hsoik2d47ph div { box-sizing: content-box; }
/* generated by https://loading.io/ */
